body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
span{
    color: orange;
}
.spider-man{
    display: flex;   
    padding-left: 5%;
    padding-right: 2%;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
}
.poster{
    width: 100%;
    padding: 30px 60px 0 0;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient( rgb(161, 78, 92), salmon);
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 700;
}
.about{
    display: flex;
    padding-left: 3%;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.first-image{
    width: 100%;
   padding-left: 10px;
    padding-top: 150px;
}